
@{
    ViewBag.Title = "Simple Move";
    Layout = "~/Views/Shared/_Layout_administrador.cshtml";
}
<section class="full-box dashboard-contentPage">
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="text-titles">Bienvenido</h1>
        </div>
    </div>

</section>