
@{
    ViewBag.Title = "index_conductor";
    Layout = "~/Views/Shared/_Layout_conductores.cshtml";
}

<section class="full-box dashboard-contentPage">
    <div class="container-fluid">
        @if (Session["UserTelefono"] != null)
        {

            <div class="page-header">
                <h1 class="text-titles">Bienvenido @Session["UserNombre"].ToString()</h1>
            </div>
        }
    </div>

</section>
